/*
Graphik
https://commercialtype.com/catalog/graphik
© Commercial Type
Must me licensed and added to repository locally
*/
/* Graphik Regular */
@font-face {
  font-family: "Graphik";
  src: url("https://static.getty.edu/fonts/graphik/Graphik-Regular-Web.woff2") format("woff2"),
       url("https://static.getty.edu/fonts/graphik/Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Graphik Regular Italic */
@font-face {
  font-family: "Graphik";
  src: url("https://static.getty.edu/fonts/graphik/Graphik-RegularItalic-Web.woff2") format("woff2"),
       url("https://static.getty.edu/fonts/graphik/Graphik-RegularItalic-Web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Graphik Semibold */
@font-face {
  font-family: "Graphik";
  src: url("https://static.getty.edu/fonts/graphik/Graphik-Semibold-Web.woff2") format("woff2"),
       url("https://static.getty.edu/fonts/graphik/Graphik-Semibold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Graphik Semibold Italic */
@font-face {
  font-family: "Graphik";
  src: url("https://static.getty.edu/fonts/graphik/Graphik-SemiboldItalic-Web.woff2") format("woff2"),
       url("https://static.getty.edu/fonts/graphik/Graphik-SemiboldItalic-Web.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Graphik', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #1a1a1a;
  background-color: #f4f3f2;
}
body * {
  margin: 0 0 1rem;
}
.block {
  max-width: 600px;
  margin: 0 2rem 6rem;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
}
.contributor {
  font-size: 1.5rem;
}
.tagline {
  color: #767676;
}
a {
  color: #767676;
  text-decoration: none;
  border-bottom: 1px solid #767676;
}
a:hover {
  color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}
.logo {
  width: 120px;
  position: fixed;
  bottom: 1.5rem;
  left: 2rem;
  border-bottom-width: 0px;
  margin: 0;
}
.logo img {
  max-width: 100%;
  margin: 0;
}