/* Temporary "UNCORRECTED PROOF" Banner */
@media screen {
  .quire::before,
  .quire::after {
    color: black;
    font-size: 16px;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire::before {
    content: "PROTOTYPE";
    background-color: yellow;
    bottom: -115px;
    right: -115px;
  }
  .quire::after {
    content: "";
    bottom: -130px;
    right: -130px;
  }
}

/* Temporary: hide copy link button in Archives sections
  not sure it works the way we want, or is needed */
.accordion-section__copy-link-button {
  display: none;
}

:root {
  --thumbnail-height: 40px;

  --small-font-size: .8rem;
  --small-font-line-height: 1.2;
}
@media screen and (min-width: 700px) {
  :root {
    --thumbnail-height: 60px;
  }
}

/* GENERAL PAGE RESETS AND STYLES
============================================================================= */
.quire-page__content {
  line-height: 1.3;
}
.quire-page__content .container {
  max-width: 100%;
  width: auto;
}
.quire-page__content .container .content {
  padding: 2rem;
}
.quire-page h1,
.quire-page__header__title {
  font-size: 1rem;
  font-weight: 400;
}
.quire-page h2 {
  font-weight: 400;
  text-transform: none;
}
.quire-page__content .container .content a,
.quire-page__content .container .content a:hover {
  color: black !important;
  border-bottom-width: 0 !important;
}
.quire-page__content .container .content ul, 
.quire-page__content .container .content ul li {
  margin-top: 0;
  margin-bottom: 0;
}
/* Table of contents */
.quire-contents-list .menu-list a {
  font-size: 1rem;
  line-height: 1.3;
}
.quire-contents-list .page-item, .quire-contents-list .section-item {
  margin-bottom: 0;
  line-height: 1.3;
}
.quire-contents-list.list, .quire-contents-list.brief {
  padding: 0 2rem;
}
.quire-contents-list .menu-list a .arrow,
.quire-contents-list .menu-list .section-item ol {
  display: none;
}
.quire-contents-list .menu-list a:hover,
.quire-contents-list .menu-list a:hover * {
  color: black;
}
/* Prev/Next buttons */
.quire-contents-buttons {
  height: 200px;
  padding: 0 2rem;
}
.quire-nav-button {
  display: inline;
  padding-right: 1rem;
}
.quire-nav-button a {
  color: black;
}
.quire-nav-button svg {
  display: none;
}
/* Audio */
audio {
  width: 80%;
}
/* Inline utility classes */
.underline {
  text-decoration: underline;
}
.strikethrough {
  text-decoration: line-through;
}

/* NAVBAR & SEARCH
============================================================================= */
.quire-navbar {
  position: relative;
}
.quire-navbar a {
  padding: 0;
}
.quire-navbar-controls {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1.5rem 2rem 0;
  height: auto;
  line-height: 1.3;
}
.quire-navbar-controls__subgroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width:1100px) {
  .quire-navbar-controls {
    grid-template-columns: 1fr 1fr;
  }
  .quire-navbar-controls__subgroup {
    grid-template-columns: 1fr;
  }
}
/* Search overlay */
.quire-search__close-button button.button {
  font-size: 1rem;
  font-family: 'u001', sans-serif;
  height: auto;
  width: auto;
  text-align: left;
  display: block;
  grid-column-start: 4;
  line-height: 1.3;
}
.quire-search__close-button {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1.5rem 2rem 0;
}
.quire-search__close-button:hover {
  background-color: transparent;
}
.quire-search__inner .input {
  font-size: 1rem;
  font-family: 'u001', sans-serif;
}
.select select::placeholder, .textarea::placeholder, .input::placeholder {
  color: black;
  opacity: 1;
}

/* MENU & FOOTER
============================================================================= */
.quire-menu {
  padding: 2rem;
  font-family: 'u001', sans-serif;
  color: black;
}
.quire-menu .scores-menu__subtitle {
  max-width: 20rem;
  margin-top: 1rem;
}
.quire-menu__header a, 
.quire-menu__list a, 
.quire-menu__formats a {
  margin: 0;
  color: black;
}
.quire-menu .menu-list a {
  padding: 0;
}
.quire-menu .menu-list a:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
.quire-menu .page-item a.active, 
.quire-menu .section-item a.active {
  all: inherit !important;
}
.quire-menu .page-item a.active *,
.quire-menu .section-item a.active * {
  color: black !important;
}
.scores-footer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 4rem;
}
.scores-footer h6,
.scores-footer * {
  all: initial;
  font-family: 'u001', sans-serif;
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: var(--small-font-line-height);
}
.scores-footer h6 {
  display: block;
  margin-bottom: .8rem !important;
}
.scores-footer .cite-this__heading {
  font-weight: 400;
}
.scores-footer a {
  cursor: pointer;
}
.scores-footer .menu-list a {
  padding: 0;
}
.scores-footer .quire-copyright p {
  margin-bottom: .8rem;
  display: block;
}
.scores-footer .copyright__publisher-logo,
.scores-footer .quire-copyright__icon,
.scores-footer .quire-copyright__icon__link {
  display: none !important;
}
.scores-footer .is-print-only {
  display: none;
}

/* SCORE PAGES
============================================================================= */
.score-section {
  margin-bottom: 4rem;
}
.score-section__header,
.score-section__blurb,
.score-section__groups,
.score-section__link,
.score-section__objects {
  margin-bottom: 1rem;
}
.score-section__header *:last-child,
.score-section__blurb *:last-child,
.score-section__groups *:last-child,
.score-section__link *:last-child,
.score-section__objects *:last-child {
  margin-bottom: 0;
}
/*  Header */
.score-section__header {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
/* Object Grids and Images */
.score-section .score-section__objects {
  display: grid;
  gap: 1rem;
  margin-left: -1rem;
  width: calc(100vw - 2rem);
}
.score-section--score .score-section__objects {
  grid-template-columns: 1fr 1fr 1fr;
}
.score-section--playback .score-section__objects {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.score-section--archive .score-section__objects {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: calc(100% + 2rem);
}
.score-section .score-section__objects .object-link {
  overflow: hidden;
}
.score-section .score-section__objects .object-link figure {
  margin: 0;
  border-width: 0;
  padding: 0;
}
.score-section .score-section__objects .object-link__image__wrapper {
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-section .score-section__objects .object-link__image__wrapper img {
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
.score-section .score-section__objects .object-link__image figcaption {
  text-align: center;
  font-size: 1rem;
  font-style: initial;
  line-height: 1.3;
  margin-top: .5rem;
  padding: 0 .5rem;
}
/* Archive Accordions */
.score-section--archive .score-section__groups {
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  margin-left: -1rem;
  width: calc(100vw - 2rem);
}
.score-section--archive .accordion-section {
  margin: 0;
}
.score-section--archive .accordion-section__body {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}
.score-section--archive h3 {
  color: white;
  font-style: normal;
}
.accordion-section__heading :is(p, h2, h3, h4, h5, h6) {
  width: auto;
}
.score-section.score-section--archive .score-section__objects .object-link__image figcaption {
  color: white;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  margin-top: 0;
  padding: 0;
}
.accordion-section__controls--plus-minus::after {
  content: "...";
}
.accordion-section[open] > .accordion-section__controls--plus-minus::after {
  content: "";
}
.score-section--archive .global-accordion-controls {
  display: block;
  margin-top: 1.5rem;
}
.score-section--archive .global-accordion-controls button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0;
}
.score-section--archive .content .global-accordion-controls button:last-child {
  margin-left: 0;
}

/* INTRO & COMMENTARY PAGES
============================================================================= */
.quire-essay .quire-page__content .container .content {
  padding: 0;
  margin: 0 auto;
  max-width: 36rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}
.quire-essay .quire-page__content .container .content p {
  line-height: 1.3;
}
.quire-essay .quire-page__content .container .content blockquote {
  padding: 0;
  margin: 1rem 0 1rem 1.5rem;
  font-style: normal;
}
.quire-essay .quire-page__content .container .content blockquote p::before {
  content: "";
}
.quire-essay h2.notes-heading {
  font-weight: 400;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  margin-top: 2rem;
}
.quire-essay .quire-page__content .container .content .footnotes * {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}
.quire-essay .quire-contents-buttons {
  display: none;
}
/* Figures */
.scores-figure {
  margin: 1rem 0 !important;
}
.scores-figure img {
  width: 100%;
}
.scores-figure figcaption {
  text-align: left;
  font-style: normal !important;
  font-size: .8rem;
  line-height: 1.2;
}
.scores-figure-grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media print {
  .scores-figure-grid--2 {
    display: block;
  }
  .scores-figure-grid--2 .scores-figure {
    width: 50%;
    float: left;
    margin-right: 1rem;
  }
  .scores-figure-grid--2 .scores-figure:last-child {
    margin-right: 0;
  }
}


/* IMAGE INDEX
============================================================================= */
.objects-page .quire-navbar,
.quire:not(.no-js).objects-page .quire__primary main  {
  background-color: black;
  color: white;
}
.objects-page .quire-navbar a, 
.objects-page .quire-navbar button,
.objects-page .quire-navbar .button,
.objects-page .quire-nav-button a,
.objects-page .quire-page__header,
.objects-page .quire-page h1,
.objects-page .object-filters,
.objects-page .object-filters__select select, 
.objects-page .object-filters__select select:focus, 
.objects-page .object-filters__select select:focus-visible,
.objects-page .object-filters__button {
  background-color: transparent;
  color: white !important;
}
.objects-page .object-filters__select::after {
  border-top-color: white;
}
.objects-page .object-filters__controls {
  display: inherit;
}
.objects-page .object-filters__button {
  border-width: 0;
  height: auto;
  margin: 0;
  padding: 0;
}
.objects-page .object-filters__item label {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
.objects-page .object-filters__select select, 
.objects-page .object-filters__select select:focus, 
.objects-page .object-filters__select select:focus-visible {
  font-size: 1rem;
  border-bottom: 0;
}
.objects-page .object-filters__list {
  display: initial;
}
@media screen and (min-width: 500px) {
  .objects-page .object-filters__item {
    grid-template-columns: 100px auto;
  }
  .objects-page .object-filters__item label {
    text-align: left;
  }
}
.objects-page .object-filters__button {
  font-size: 1rem;
  font-family: 'u001', sans-serif;
  margin-right: 2rem;
}
.objects-page .object-filters__button.object-filters__button--active {
  background-color: black !important;
  border-bottom: 1px solid white;
}
.objects-page .object-filters__select::after {
  all: revert !important;
}
.objects-page .object-card {
  background-color: transparent;
  margin-right: 2rem;
}
.objects-page .object-card__content {
  padding: 0;
}
.objects-page .object-card .arrow {
  display: none;
}
.objects-page .object-card__title {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'u001', sans-serif;
}
.objects-page .object-card__title:not(:last-child), 
.objects-page .object-card__image:not(:last-child) {
  margin-bottom: 0;
}
.objects-page .object-card__image {
  height: 110px;
}
.objects-page .object-card__image img {
  max-height: 100%;
  width: auto;
  margin: 0 auto;
}
.objects-page ol.object-cards-list {
  display: flex;
  flex-wrap: wrap;
}
.objects-page section.object-cards {
  margin: 2rem;
}
.objects-page .object-filters {
  padding: 0 2rem;
}

/* SCORE OBJECT PAGES
============================================================================= */
/* Make everything white text on a black background */
.score-object .quire-navbar,
.quire-entry div.side-by-side div.quire-entry__image-wrap::after,
.score-object .quire-entry div.side-by-side div.quire-entry__content,
.quire:not(.no-js).score-object  .quire__primary main  {
  background-color: black;
  color: white;
}
.score-object .quire-navbar a, 
.score-object .quire-navbar button,
.score-object .quire-navbar .button,
.score-object .quire-entry__header .container,
.score-object .quire-entry__header .quire-page__header__title,
.score-object .quire-entry__tombstone > div.container,
.score-object .quire-entry__tombstone .table,
.score-object .quire-entry .quire-page__content .content,
.score-object .quire-nav-button a {
  background-color: transparent;
  color: white !important;
}
.quire-entry div.side-by-side div.quire-entry__content section.section, 
.quire-entry div.side-by-side div.quire-entry__content section, 
.quire-entry div.side-by-side div.quire-entry__content header {
  padding: 0;
}

.score-object .q-lightbox-ui__zoom-and-fullscreen,
.score-object .q-lightbox-ui__navigation {
  display: none !important;
}
.score-object .quire-entry div.side-by-side div.quire-entry__content {
  overflow-x: hidden;
}
.score-object .quire-entry__header {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* Tombstone */
.score-object .quire-entry__tombstone .container {
  margin: 2rem;
  padding: 0;
  width: 100%;
}
.score-object .quire-entry__tombstone .table {
  border-width: 0;
  font-size: 1rem;
  width: calc(100% - 4rem);
  margin: 0;
  padding: 0;
}
.score-object .quire-entry__tombstone tr td:first-child {
  font-weight: 400;
  padding-right: 2rem;
}
.score-object .quire-entry__tombstone .table td, 
.score-object .quire-entry__tombstone .table th {
  padding: .25rem 0;
}
.quire-entry__tombstone tr:hover {
  background-color: inherit;
  color: inherit;
}
/* Main content area */
.score-object .quire-page__content .container .content {
  padding-top: 0;
}
.object-credit {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}
.score-object .quire-page__content .container .content a, 
.score-object .quire-page__content .container .content a:hover {
  color: white !important;
}

/* SCORE OBJECT PAGES -- THUMBNAIL NAVIGATOR
============================================================================= */
.quire-entry__lightbox {
  top: 3rem;
}
.side-by-side .quire-entry__lightbox {
  height: calc(100% - 3rem);
}
@media screen and (min-width: 700px) {
  .side-by-side .quire-entry__lightbox {
    top: 6rem;
    left: 2rem;
    height: calc(100% - 8rem);
    width: calc(56% - 8px - 2rem);
  }
  .side-by-side .quire-entry__lightbox.quire-entry__lightbox--with-thumbnails {
    height: calc(100vh - 8rem - (var(--thumbnail-height) + 4rem));
  }
  .quire-entry__thumbnails {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(56% - 8px - 2rem);
  }
}
.quire-entry div.side-by-side .q-lightbox-ui__navigation {
  display: inherit;
}
.quire-entry div.side-by-side div.quire-entry__image-wrap::after {
  height: 0;
}
.q-lightbox-slides__caption {
  display: none;
}
.quire-entry__thumbnails {
  z-index: 10;
  height: calc(var(--thumbnail-height) + 6rem);
  background-color: black;
  overflow-x: scroll;
  overflow-y: clip;
  margin: 0 2rem;
}
.quire-entry__thumbnails__inner {
  display: flex;
}
.quire-entry__thumbnails .thumbnail figure {
  display: inline-flex;
  aspect-ratio: 3 / 2;
  border: 1px solid gray;
  border-radius: .5rem;
  margin: 2rem .25rem;
  padding: .5rem;
  height: calc(var(--thumbnail-height) + 2rem);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.quire-entry__thumbnails .thumbnail img {
  max-height: var(--thumbnail-height);
  height: var(--thumbnail-height);
}
.quire-entry__thumbnails .thumbnail figcaption {
  text-align: center;
  color: white;
  line-height: var(--small-font-line-height);
  font-size: var(--small-font-size);
}
.quire-entry__thumbnails .thumbnail.current-thumbnail::before {
  content: "•";
  font-size: 2rem;
  line-height: 0;
  color: white;
  text-align: center;
  display: block;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.quire-entry__thumbnails .thumbnail::before {
  content: "";
}

/*  iFRAME VIEWER
============================================================================= */
#iframe-viewer {
  position: fixed;
  left: 4rem;
  top: 4rem;
  width: calc(100vw - 8rem);
  height: calc(100vh - 8rem);
  background-color: black;
  border-radius: 1rem;
  z-index: 1;
}
#iframe-loading-indicator {
  color: white;
  display: block;
  margin: 45vh auto 0;
  text-align: center;
}
.iframe_viewer__iframe {
  position: absolute;
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  top: 3rem;
  left: 3rem;
}
.iframe_viewer__nav-buttons,
.iframe_viewer__controls {
  position: absolute;
  padding: 0 1rem;
}
.iframe_viewer__controls {
  right: 0;
  top: 0;
}
.quire-page__content .container .content .iframe_viewer__controls a,
.quire-page__content .container .content .iframe_viewer__nav-buttons a,
.quire-page__content .container .content .iframe_viewer__controls a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link):hover,
.quire-page__content .container .content .iframe_viewer__nav-buttons a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link):hover {
  background-color: transparent;
  border-bottom-width: 0 !important;
  padding: .5rem .5rem 0;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white !important;

}
#iframe-control-tooltip {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  width: max-content;
  animation: fade 2s linear forwards;
  -webkit-animation: fade 2s linear forwards;
  z-index: 10;
}

/*  IFRAME OVERRIDES
============================================================================= */
/* When a page is viewed in the iframe viewer, a script in `content/_assets/javascript/application/iframe-viewer.js` 
adds the `iframe-version` class to the <body> so that these override styles may be applied  */
body.iframe-version {
  background-color: black;
  height: 100vh;
}
body.iframe-version .quire-navbar,
body.iframe-version .quire-contents-buttons {
  display: none;
}
@media screen and (min-width: 700px) {
  body.iframe-version .side-by-side .quire-entry__lightbox {
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(56% - 8px);
  }
  body.iframe-version .side-by-side .quire-entry__lightbox.quire-entry__lightbox--with-thumbnails {
    height: calc(100vh - var(--thumbnail-height) - 4rem);
  }
}
body.iframe-version .quire-entry__thumbnails {
  height: auto;
  margin: 0;
  width: calc(56% - 8px);
}
body.iframe-version .quire-entry__thumbnails .thumbnail figure {
  margin-bottom: 0;
}
body.iframe-version .score-object .quire-entry__tombstone .container {
  margin-top: 0;
}
body.iframe-version  .score-object .quire-entry__tombstone .table {
  width: calc(100% - 2rem);
}
body.iframe-version  .quire-page__content .container .content {
 padding-right: 0; 
}
body.iframe-version .quire::before,
body.iframe-version .quire::after {
  content: '';
  background-color: transparent;
}
body.iframe-version .quire-entry__content,
body.iframe-version .quire-page__content {
  animation: none;
}
body.iframe-version .quire .quire__primary main {
  background-color: black;
}
