// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Custom font declarations (if any) can be imported here
$assets-dir: "/_assets/" !default;

@function font($file) {
  @return url($assets-dir + 'fonts/' + $file);
}

@font-face {
  font-family: 'u001';
  src:  url('u001/u001-reg.woff2') format('woff2'),
        url('u001/u001-reg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'u001';
  src:  url('u001/u001-ita.woff2') format('woff2'),
        url('u001/u001-ita.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
