.fx908a-concrete {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  gap: 2em;
}

.fx908a-concrete--static {
  justify-content: left;
  flex-wrap: wrap;
}

.fx908a-concrete__chunk {}
.fx908a-concrete__title {
  font-style: italic;
}

.fx908a-concrete--static { display: flex; }
.fx908a-concrete--animated { display: none; }

@media screen and (min-width: 810px) {
  .fx908a-concrete--static { display: none; }
  .fx908a-concrete--animated { display: flex; }
}

@keyframes fadeInOut {
  0%  { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
}

.fx908a-concrete__animation--a div {
  opacity: 0;
}
.fx908a-concrete__animation--a div:nth-child(1) {
  animation: fadeInOut 3s linear 0s infinite;
}
.fx908a-concrete__animation--a div:nth-child(2) {
  animation: fadeInOut 3s linear 1.5s infinite;
}
.fx908a-concrete__animation--a div:nth-child(3) {
  animation: fadeInOut 3s linear 3s infinite;
}
.fx908a-concrete__animation--a div:nth-child(4) {
  animation: fadeInOut 3s linear 4.5s infinite;
}
.fx908a-concrete__animation--a div:nth-child(5) {
  animation: fadeInOut 3s linear 6s infinite;
}

.fx908a-concrete__animation--b div {
  opacity: 0;
}
.fx908a-concrete__animation--b div:nth-child(1) {
  animation: fadeInOut 6s linear 0s infinite;
}
.fx908a-concrete__animation--b div:nth-child(2) {
  animation: fadeInOut 6s linear 3s infinite;
}
.fx908a-concrete__animation--b div:nth-child(3) {
  animation: fadeInOut 6s linear 6s infinite;
}
.fx908a-concrete__animation--b div:nth-child(4) {
  animation: fadeInOut 6s linear 9s infinite;
}
.fx908a-concrete__animation--b div:nth-child(5) {
  animation: fadeInOut 6s linear 12s infinite;
}